@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}
.nav-links {
  padding: 12px 20px;
  background: #0281f7;
  color: white;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  border-radius: 18px;
  padding: 6px 12px;
  font-size: 16px;
}

@media (min-width: 768px) {
  .nav-links {
    padding: 12px 180px;
    justify-content: space-around;
  }

  .nav-link {
    padding: 6px 24px;
    font-size: 18px;
  }
}

.nav-link-active {
  background: #023bf7;
}

h1 {
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  font-weight: bold;
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.25rem /* 36px */;
    line-height: 2.5rem /* 40px */;
  }
}

h2 {
  margin: 0;
  margin-bottom: var(--spacing-2);
  font-size: 32px;
  font-weight: bold;
}
